.header {
    color: white;
    background-color: rgb(121, 200, 200);
}

.footer {
    padding: 1rem;
    background-color: rgb(121, 200, 200);
}

.links {
    padding-bottom: 0.5rem;
}

.link:hover {
    color: black;
}

.avatar-card {
    width: 50rem;
    margin-top: 2rem;
}

.about-figure {
    padding-left: 1vw;
    padding-right: 10rem;
    margin-bottom: 20vh;
    width: 40rem;
}

.avatar-img {
    width: 15rem;
}

.resume-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 48vh;
}

.nav-link {
    color: white !important;
}

.btn {
    background-color: gray !important;
    border-color: rgb(202, 202, 202) !important;
}

.contact {
    margin-top: 5vh;
    margin-bottom: 35vh;
}